SERPAPI_KEY=your_serpapi_key_here
GEMINI_API_KEY=your_gemini_key_here
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here